@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>this is a student courser demo</h1>
    <p class="lead">in this demop you will be able to view edit add and assign students to courses.</p>
    </div>

<div class="row" ng-app="mainApp">
    <div class="col-md-4" ng-controller="MainController">
<table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Level</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="course in courses">
                    <td>{{course.Id}}</td>
                    <td>{{course.Name}}</td>
                    <td>{{course.Level}}</td>
                    
                </tr>
            </tbody>
        </table>
       </div>
    
</div>