@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>this is a student courser demo</h1>
    <p class="lead">in this demo you will be able to view edit add and assign students to courses.</p>
</div>

<div class="row" ng-app="mainApp">

    <div class="row" ng-controller="MainController">

        <div class="row">
            <div class="col-md-6" style="text-align:center;">
                <br />
                <h2>Courses</h2>
                <hr /><br />
            </div>
            <div class="col-md-6" style="text-align:center;">
                <br />
                <h3>Show/Edit</h3><hr />
                <p>enter the id of the course you want to view or edit</p><br />
            </div>
        </div>
            <div class="row">
                <div class="col-md-6">
                    <table style="width: 100%;
                       margin: auto;
                       text-align: center;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Id</th>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center;">Level</th>
                                <th style="text-align: center;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="course in courses">
                                <td>{{course.Id}}</td>
                                <td>{{course.Name}}</td>
                                <td>{{course.Level}}</td>
                                <td>
                                    <div class="btn btn-success" ng-click="delete('Cours',course.Id)">
                                        <span class="fa fa-ban">
                                        </span>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <form style="text-align: center;" ng-submit="submit('Cours')">

                        <!--<input type="text" ng-model="Id" name="Id"/>-->
                        <input required placeholder="Name" type="text" ng-model="CName" name="Name" />
                        <input required placeholder="Level" type="text" ng-model="Level" name="Level" />

                        <input type="submit" class="btn btn-success" id="submit" value="Add course" />

                    </form>
                </div>
                <div class="col-md-6" style="text-align: center;">
                    
                    <form style="text-align: center;" class="row" ng-submit="submit('VCours')">
                        
                        <!--<input type="text" ng-model="Id" name="Id"/>-->
                        <input required placeholder="Id" type="text" ng-model="CId" name="Id" />
                        <input type="submit" class="btn btn-success" id="submit" value="View or Edit Course" />
                        
                    </form>
                    <br /><hr />
                    <form style="text-align: center;" class="row" ng-submit="submit('SCours')">
                        
                        <!--<input type="text" ng-model="Id" name="Id"/>-->
                        <input required placeholder="Name" type="text" ng-model="SCName" name="Name" />
                        <input required placeholder="Level" type="text" ng-model="SLevel" name="Level" />
                        <input type="submit" class="btn btn-success" id="submit" value="Update course" />
                    </form>
                </div>
            </div>
        <div class="row">
            <div class="col-md-6" style="text-align:center;">
                <br />
                <h2>Students</h2>
                <hr /><br />
            </div>
            <div class="col-md-6" style="text-align:center;">
                <br />
                <h3>Show/Edit</h3><hr />
                <p>enter the id of the course you want to view or edit</p><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table style="width: 90%;
    margin: auto;
    text-align: center;">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Id</th>
                            <th style="text-align: center;">Name</th>
                            <th style="text-align: center;">Gender</th>
                            <th style="text-align: center;">Age</th>
                            <th style="text-align: center;">Year</th>
                            <th style="text-align: center;">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in students">
                            <td>{{student.Id}}</td>
                            <td>{{student.Name}}</td>
                            <td>{{student.Gender}}</td>
                            <td>{{student.Age}}</td>
                            <td>{{student.Year}}</td>
                            <td>
                                <div class="btn btn-success" ng-click="delete('Students',student.Id)">
                                    <span class="fa fa-ban">
                                    </span>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <form style="text-align: center;" class="row" ng-submit="submit('Students')">
                    <!--<input type="text" ng-model="Id" name="Id"/>-->
                    <input required placeholder="Name" type="text" ng-model="SName" name="Name" />
                    <input required placeholder="Gender" type="text" ng-model="Gender" name="Gender" />
                    <input required placeholder="Age" type="text" ng-model="Age" name="Age" />
                    <input required placeholder="Year" type="text" ng-model="Year" name="Year" />
                    <input type="submit" class="btn btn-success" id="submit" value="Add student" />

                </form>


            </div>

            <div class="col-md-6" style="text-align: center;">
                <form style="text-align: center;" class="row" ng-submit="submit('VStudents')">
                    <!--<input type="text" ng-model="Id" name="Id"/>-->
                    <input required placeholder="Id" type="text" ng-model="SId" name="Id" />
                    <input type="submit" class="btn btn-success" id="submit" value="View or Edit student" />

                </form>
                <br /><hr />
                <form style="text-align: center;" class="row" ng-submit="submit('SStudents')">
                    <!--<input type="text" ng-model="Id" name="Id"/>-->
                    <input required placeholder="Name" type="text" ng-model="SSName" name="Name" value="test" />
                    <input required placeholder="Gender" type="text" ng-model="SGender" name="Gender" />
                    <input required placeholder="Age" type="text" ng-model="SAge" name="Age" />
                    <input required placeholder="Year" type="text" ng-model="SYear" name="Year" />
                    <input type="submit" class="btn btn-success" id="submit" value="Update student" />
                </form>
            </div>


        </div>


    </div>


</div>