@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>this is a student courser demo</h1>
    <p class="lead">in this demop you will be able to view edit add and assign students to courses.</p>
    </div>

<div class="row" ng-app="mainApp">

    <div class="row" ng-controller="MainController">
        <div class="col-md-4" >
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Level</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in courses">
                        <td>{{course.Id}}</td>
                        <td>{{course.Name}}</td>
                        <td>{{course.Level}}</td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Year</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in students">
                        <td>{{student.Id}}</td>
                        <td>{{student.Name}}</td>
                        <td>{{student.Gender}}</td>
                        <td>{{student.Age}}</td>
                        <td>{{student.Year}}</td>

                    </tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>